body {
  font-family: "Roboto", Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #1c2331;
  color: #f5f5f5;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

.navbar {
  background-color: #0f1724;
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar-brand {
  color: #f5f5f5;
  font-size: 24px;
  font-weight: bold;
  text-decoration: none;
}

.btn {
  background-color: #4a5568;
  color: #f5f5f5;
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
  text-decoration: none;
  margin-left: 10px;
}

.btn:hover {
  background-color: #3d4a63;
}

.search-container {
  display: flex;
  align-items: center;
  margin: 0 20px 30px;
}

.search-input {
  padding: 10px;
  border: none;
  border-radius: 4px;
  margin-right: 10px;
  flex-grow: 1;
  background-color: #4a5568;
  color: #f5f5f5;
}

.search-btn {
  background-color: #4a5568;
  color: #f5f5f5;
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
}

.search-btn:hover {
  background-color: #2d3748;
}

.movie-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 20px;
  padding: 0 20px;
}

.movie-card {
  background-color: #2d3748;
  border-radius: 4px;
  padding: 10px;
  text-align: center;
  display: flex;
  flex-direction: column;
}

.movie-card img {
  width: 100%;
  height: 300px;
  object-fit: cover;
  margin-bottom: 0.5rem;
}

.movie-card .card-body {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.movie-card .card-title {
  font-size: 20px;
  margin-bottom: 0.5rem;
}

.movie-card .card-text {
  margin-bottom: 1rem;
}

.movie-card .btn-container {
  margin-top: auto;
  display: flex;
  justify-content: space-between;
}

.movie-card .btn {
  margin-right: 0.5rem;
}
.movie-card .btn:last-child {
  margin-right: 0;
}

.movie-details {
  padding: 20px;
}

.movie-info {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.movie-info img {
  max-width: 100%;
  height: auto;
  margin-bottom: 20px;
}

.movie-info-text {
  text-align: center;
}

.rating-container {
  margin-top: 20px;
}

.rating-select {
  padding: 10px;
  border: none;
  border-radius: 4px;
  margin-right: 10px;
  background-color: #4a5568;
  color: #f5f5f5;
}

.rating-btn {
  background-color: #4a5568;
  color: #f5f5f5;
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
}

.rating-btn:hover {
  background-color: #2d3748;
}

@media screen and (min-width: 768px) {
  .movie-info {
    flex-direction: row;
    align-items: flex-start;
  }

  .movie-info img {
    max-width: 300px;
    margin-right: 20px;
    margin-bottom: 0;
  }

  .movie-info-text {
    text-align: left;
  }
}
